## Python3.11 is required. 
## Does not run with python3.12

numpy
pandas==2.0.2
psycopg2-binary==2.9.6
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3
PyYAML
six==1.16.0
tzdata==2023.3
openpyxl
requests

# Install DataBUS from gitHub
https://github.com/NeotomaDB/DataBUS/archive/refs/heads/main.zip